<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VenderMapper">

    <insert id="addVender" parameterType="model.Vender" >
        INSERT INTO VENDER(vender_code,vender_type,vender_name,address,telphone,contacts,product_license,bussiness_registration_no,registered_capital,user_id,create_time,zxbj,remark) values(#{vender_code},#{vender_type},#{vender_name},#{address},#{telphone},#{contacts},#{product_license},#{bussiness_registration_no},#{registered_capital},#{user_id},#{create_time},#{zxbj},#{remark})
    </insert>

    <update id="updateVender" parameterType="model.Vender">
        UPDATE VENDER SET vender_code=#{vender_code},vender_type=#{vender_type},vender_name=#{vender_name},address=#{address},telphone=#{telphone},contacts=#{contacts},product_license=#{product_license},bussiness_registration_no=#{bussiness_registration_no},registered_capital=#{registered_capital},user_id=#{user_id},create_time=#{create_time},zxbj=#{zxbj},remark=#{remark} WHERE vender_id=#{vender_id}
    </update>


</mapper>