<component name="libraryTable">
  <library name="Spring MVC" type="spring-mvc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/asm-3.3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/cglib-2.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/cglib-nodep-2.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/commons-dbcp-1.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/commons-pool-1.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/fastjson-1.2.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/javassist-3.17.1-GA.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/log4j-1.2.17.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/mybatis-3.2.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/mybatis-spring-1.2.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/mysql-connector-java-3.1.12-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/slf4j-api-1.7.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/slf4j-log4j12-1.7.5.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-aop-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-aspects-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-beans-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-context-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-core-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-expression-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-jdbc-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-tx-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-web-4.2.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../Lib/springMVC/注解版本/jar/spring-webmvc-4.2.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>